[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "multiMarker"]
	path = multiMarker
	url = https://github.com/cran/multiMarker
[submodule "spaceNet"]
	path = spaceNet
	url = https://github.com/cran/spaceNet
